@charset "utf-8";
.link
{
	background-color: #000000;
	padding: 50px;
}
a:link, a:visited 
{
  font-size: 25px;;
  color: white;
  padding: 8px 15px;
  text-decoration: none;
}
a:hover, a:active
{
  background-color: skyblue;
}
.logo
{
  float: left;
	margin: auto;
}
body {
      background: #fff;
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 14px;
      color:#000;
      margin: 0;
      padding: 0;
    }
.photo
{
	float: left;
	padding: 50px;
	margin:auto;
}
.desc
{
	font-size: 30px;
	text-align: center;
}
.footer
{
	width: 100%;	
	height: 100px;
	border: 2px solid black;
	background:rgba(246,246,246,0.5);
	text-align:center;
}
.container
{
	
	padding: 100px;
	
}
.content
{
	width: 100%;
	padding: 20px;
	border: 1px solid #000000;
	font-size: 20px;
	
	
}
h3{margin-top: 0;}
p{margin-top:0; margin-bottom: 0;}
.column
{
	column-count: 2;
	text-align: center;
	
}
